@import 'reset.css';


.wrap {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.container {
    width: 50%;
}

.img {
    padding-bottom: 66.66%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
