/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Raleway', sans-serif; }

button,
input,
textarea {
  font-family: 'Raleway', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.wrap {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; }

.container {
  width: 50%; }

.image, .footer-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.header::before, .footer::before, .header::after, .footer::after {
  content: '';
  display: block; }
.header::after, .footer::after {
  clear: both; }

.title-black {
  color: black; }

.title-red {
  color: red; }

.title-orange {
  color: orange; }

.color-1 {
  background-color: #fa0a00; }

.color-2 {
  background-color: #ff1005; }

.color-3 {
  background-color: #ff1a10; }

.color-4 {
  background-color: #ff231a; }

.color-5 {
  background-color: #ff2d24; }

.color-6 {
  background-color: #ff372e; }

.color-7 {
  background-color: #ff4138; }

.color-8 {
  background-color: #ff4a43; }

.color-9 {
  background-color: #ff544d; }

.color-10 {
  background-color: #ff5e57; }

.color-11 {
  background-color: #ff6861; }

.color-12 {
  background-color: #ff726b; }

.color-13 {
  background-color: #ff7b76; }

.color-14 {
  background-color: #ff8580; }

.color-15 {
  background-color: #ff8f8a; }

.color-16 {
  background-color: #ff9994; }

.color-17 {
  background-color: #ffa29e; }

.color-18 {
  background-color: #ffaca9; }

.color-19 {
  background-color: #ffb6b3; }

.color-20 {
  background-color: #ffc0bd; }

.image {
  position: relative;
  padding-bottom: 56%; }

.footer-img {
  position: relative; }

.header {
  position: relative; }

.test {
  position: relative; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .test {
      position: absolute; } }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    .test {
      position: fixed; } }

.krug {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: red;
  position: relative; }

.trougao {
  width: 200px;
  height: 66.6666666667%; }

.title {
  font-size: 160px;
  color: #404040; }

.banner.banner-red {
  position: relative; }
.banner .banner-g {
  position: relative; }
.loaded .banner .banner {
  position: relative; }
  .loaded .banner .banner .test {
    color: red; }
